@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    background-color: #f8fafc;
    /* Slate-50 */
}